numpy
Cython
sklearn
Pillow
matplotlib
google-api-python-client
pandas
beautifulsoup4
requests
lxml
xlrd
html2text
nltk
tensorflow==1.4.0
scipy
scikit-image
keras==2.0.8
imgaug
opencv-python
pycocotools
langdetect